/* ------------------------------------ */
/* CSS Reset                            */

html, body {
    height: 100%;
}

html, div, form, fieldset, legend, label, input, select
{
	margin: 0;
	padding-top: 0;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 0;
}

@font-face {
    font-family: 'museo_sans_500regular';
    src: url('MuseoSans_500-webfont.eot');
    src: url('MuseoSans_500-webfont.eot?#iefix') format('embedded-opentype'),
         url('MuseoSans_500-webfont.woff') format('woff'),
         url('MuseoSans_500-webfont.ttf') format('truetype'),
         url('MuseoSans_500-webfont.svg#museo_sans_500regular') format('svg');
    font-weight: normal;
    font-style: normal;
}


body, textarea, input, select
{
	margin: 0px auto 0px auto;
	font-size: 11px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0em;
	padding: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	font-family: "museo_sans_500regular", "Arial Narrow", "Century Gothic";
	color: #606060;
	background-image: url(../images/backgrounds/background.jpg);
	background-repeat: repeat-x;
	background-position: center top;
	background-color: #fff;
}
table
{
    border-collapse: collapse;
    border-spacing: 0;
}
th, td
{
    text-align: left;
    vertical-align: top;
}
h1, h2, h3, h4, h5, h6, th, td, caption
{
	font-weight: normal;
	padding: 0;
	margin: 0;
}
h1
{
	font-size: 1.2em;
	text-transform: uppercase;
	font-weight: 300;
}

h2
{
	font-size: 1.5em;
	text-transform: uppercase;
	color: #FC0;	    
}
h3
{
    font-size: 1.636em;
    line-height: 1.2em;

}
h4
{
    font-size: 1.35em;

}
h5
{
    padding-top: 10px;
    font-size: 1.25em;
    line-height: 1em;}
h6
{
	font-size: 1.2em;
	text-transform: uppercase;
	font-weight: 300;
}
h7
{
    font-weight: bold;
}
p
{
	font-size: 1.1em;
	font-weight: 300;
}
strong
{
	font-size: 1.1em;
	font-weight: 600;
}
img
{
    border: 0;
}

ul {
    type: disc; 
}
a, a:link, a:visited, a:active
{
	text-decoration: none;
	color: #999;
}
a, a:hover
{
	text-decoration: none;
	color: #FC0;
}
button::-moz-focus-inner 
{
    border: 0; 
}
p {
    padding-top: 10px;
    padding-bottom: 10px;
}
 


/* ------------------------------------ */
/* General                              */
.clear
{
    clear: both;
}
.a-left
{
    text-align: left;
}
.a-center
{
    text-align: center;
}
.a-right
{
    text-align: right;
}
.f-left
{
    float: left;
}
.f-right
{
    float: right;
}
.m-top
{
    margin-top: 5px;
}
.m-top-medium
{
    margin-top: 10px;
}
.m-top-large
{
    margin-top: 15px;
}
.m-left
{
    margin-left: 15px;
}
.m-right
{
    margin-right: 15px;
}
.required
{
}
.required strong
{
    color: Red;
}

/* ------------------------------------ */
/* General: Buttons                     */
.btn
{
	background-color: #666;
	cursor: pointer;
	/*padding: 4px 4px 6px 4px; padding: 3px 3px 5px 3px;*/
    padding: 1px;
}
.btn, .btn a
{
    padding: 3px 3px 5px 3px;
    font-weight: bold;
    letter-spacing: normal;
    color: #FFFFFF;
    font-size: 1.0em;   
    text-transform: uppercase;
}
.btn a
{
     padding: 4px 15px 4px 15px;
}



/* ------------------------------------ */
/* General: Boxes                       */
.greetings {
    padding: 10px;
}

.top-right {
    padding: 10px;
    float: right;
}

.box {
    border: 1px solid #d6d8db;
    background-color: #f3f3f6;
    padding: 4px 4px 6px 4px;
    -moz-border-radius-topleft:1ex;
    -moz-border-radius-topright:1ex;
    -moz-border-radius-bottomleft:1ex;
    -moz-border-radius-bottomright:1ex;
    -webkit-border-top-left-radius:1ex;
    -webkit-border-top-right-radius:1ex;
    -webkit-border-bottom-left-radius:1ex;
    -webkit-border-bottom-right-radius:1ex;
}
.box-dark-no-border {
    border: 0px solid #d6d8db;
    background-color: #dae3ea;
    padding: 4px 4px 6px 4px;
    -moz-border-radius-topleft:1ex;
    -moz-border-radius-topright:1ex;
    -moz-border-radius-bottomleft:1ex;
    -moz-border-radius-bottomright:1ex;
    -webkit-border-top-left-radius:1ex;
    -webkit-border-top-right-radius:1ex;
    -webkit-border-bottom-left-radius:1ex;
    -webkit-border-bottom-right-radius:1ex;
}

.col2-set .col-1 .yellow-box {
    font-family: verdana;
    font-size: 13px;
    text-align: justify;
    background-color: #ffff9e;
    margin: 10px 10px 10px 10px;
    padding: 20px 20px 20px 20px;
    -moz-border-radius:3ex;
    -webkit-border-top-left-radius:3ex;
    -webkit-border-top-right-radius:3ex;
    -webkit-border-bottom-left-radius:3ex;
    -webkit-border-bottom-right-radius:3ex;
}   

.col2-set .col-2 .blue-box {
    font-family: verdana;
    font-size: 13px;
    text-align: justify;
    background-color: #e0f0ff;
    margin: 10px 10px 10px 10px;
    padding: 20px 20px 20px 20px;
    -moz-border-radius:3ex;
    -webkit-border-top-left-radius:3ex;
    -webkit-border-top-right-radius:3ex;
    -webkit-border-bottom-left-radius:3ex;
    -webkit-border-bottom-right-radius:3ex;
    margin-bottom: 20px;
}

.col2-set .col-2 .pink-box {
    font-family: verdana;
    font-size: 13px;
    text-align: justify;
    background-color: #ffc1ff;
    margin: 10px 10px 10px 10px;
    padding: 20px 20px 20px 20px;
    -moz-border-radius:3ex;
    -webkit-border-top-left-radius:3ex;
    -webkit-border-top-right-radius:3ex;
    -webkit-border-bottom-left-radius:3ex;
    -webkit-border-bottom-right-radius:3ex;
}

.col2-set .col-1 .yellow-box .imagecanvas {
    padding-top: 10px;
    padding-bottom: 10px;
}

.col2-set .col-1 .yellow-box .imagecanvas img {
    max-width: 100%;
    vertical-align: center;
}

.col2-set .col-1 .yellow-box .subtitle-yellow {
    font-size: 16px;
    color: #ffa500;
    padding-bottom: 12px;
}

.col2-set .col-2 .blue-box ul li {
    padding-left: 10px;
    list-style-type: disc;
    list-style-position: inside;
}

.col2-set .col-2 .blue-box form textarea#content {
    width: 385px;
    height: 120px;
    max-width: 385px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #cccccc;
}

.col2-set .col-2 .blue-box .subtitle-blue {
    font-size: 16px;
    color: #2881ff;
    padding-bottom: 12px;
}

.col2-set .col-2 .pink-box .subtitle-pink {
    font-size: 16px;
    color: #b93b8f;
    padding-bottom: 12px;
}

.col2-set .col-2 .blue-box .thoreau {
    background: #5a5011;
    padding-top: 5px;
    padding-bottom: 165px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.col2-set .col-2 .blue-box .thoreau .col1 {
    width: 50%;
    float: left;
}

.col2-set .col-2 .blue-box .thoreau .col2 {
    width: 50%;
    float: right;
    padding-top: 10px;
}

.col2-set .col-2 .blue-box .thoreau .col2 p.speech {
    position: relative;
    color: #ff5050;
    padding: 5px 5px 5px 5px;
    width: 170px;
    height: 130px;
    text-align: center;
    vertical-align: center;

    /* Firefox */
    display:-moz-box;
    -moz-box-pack:center;
    -moz-box-align:center;

    /* Safari, Opera, and Chrome */
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;

    background-color: #fff;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}


.col2-set .col-2 .blue-box .thoreau .col1 .imagecanvas2 {
    padding: 10px 10px 10px 10px;

}

.col2-set .col-2 .blue-box .thoreau .col1 .imagecanvas2 img {
    max-width: 145px;
    vertical-align: center;
}



/* ------------------------------------ */
/* General: Messages  and errors        */
.messages
{
    margin-bottom: 26px;
}

.messages .success-msg, .messages .error-msg
{
    margin: 4px 0px 6px 0px;
    padding: 1px 2px 1px 2px;
    border-width: 1px;
    border-style: solid;
    font-weight: bold;
}
.messages .success-msg, .messages .success-msg a
{
    border-color: #446423;
    background-color: #eff5ea;
    color: #3d6611;
}
.messages .error-msg, .messages .error-msg a
{
    border-color: #f16048;
    background-color: #faebe7;
    color: #df280a;
}

.error {
    color: red;
}

/*-----------------*/
/* General: photo banner */

* {margin: 0; padding: 0;}
 
#photocontainer {
	width: 900px;
	overflow: hidden;
	margin: 10px auto;
	background: white;
}

/*header*/
header {
	width: 800px;
	margin: 10px auto;
}
 
header h1 {
	text-align: center;
	font: 100 50px/1.5 Helvetica, Verdana, sans-serif;

}
 
header p {
	font: 100 15px/1.5 Helvetica, Verdana, sans-serif;
	text-align: justify;
}
 
/*photobanner*/
 
.photobanner {
	height: 399px;
	width: 3550px;
	margin-bottom: 30px;
}

.photobanner img {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
 
.photobanner img:hover {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
	cursor: pointer;
 
	-webkit-box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
	box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
}

/*keyframe animations*/
.animate {
	-webkit-animation: bannermove 20s linear infinite;
	   -moz-animation: bannermove 20s linear infinite;
	    -ms-animation: bannermove 20s linear infinite;
	     -o-animation: bannermove 20s linear infinite;
	        animation: bannermove 20s linear infinite;
}

@keyframes "bannermove" {
 0% {
    margin-left: 0px;
 }
 100% {
    margin-left: -2125px;
 }
}
 
@-moz-keyframes bannermove {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -2125px;
 }
}
 
@-webkit-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -2125px;
 }
}
 
@-ms-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -2125px;
 }
}
 
@-o-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -2125px;
 }
}

/* ------------------------------------ */
/* General: Carousel                    */
.jcarousel .jcarousel-direction-rtl {
	direction: rtl;
}

.jcarousel .jcarousel-container-horizontal {
    width: 100%;
}

.jcarousel .jcarousel-clip-horizontal {
    width: 100%;
}
/*
.jcarousel .jcarousel-item 
{
    width: 142px;
}

.jcarousel-skin-tango .jcarousel-item-horizontal {
	margin-left: 0;
    margin-right: 10px;
}

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-item-horizontal {
	margin-left: 10px;
    margin-right: 0;
}

.jcarousel-skin-tango .jcarousel-item-vertical {
    margin-bottom: 10px;
}

.jcarousel-skin-tango .jcarousel-item-placeholder {
    background: #fff;
    color: #606060;
}
*/
/**
 *  Horizontal Buttons
 */
.jcarousel .jcarousel-next-horizontal {
    position: absolute;
    top: 43px;
    right: -35px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(../images/jcarousel/next-horizontal.png) no-repeat 0 0;
}

.jcarousel .jcarousel-direction-rtl .jcarousel-next-horizontal {
    left: 15px;
    right: auto;
    background-image: url(../images/jcarousel/prev-horizontal.png);
}

.jcarousel .jcarousel-next-horizontal:hover {
    background-position: -32px 0;
}

.jcarousel .jcarousel-next-horizontal:active {
    background-position: -64px 0;
}

.jcarousel .jcarousel-nexƒt-disabled-horizontal,
.jcarousel .jcarousel-next-disabled-horizontal:hover,
.jcarousel .jcarousel-next-disabled-horizontal:active {
    cursor: default;
    background-position: -96px 0;
}

.jcarousel .jcarousel-prev-horizontal {
    position: absolute;
    top: 43px;
    left: -35px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(../images/jcarousel/prev-horizontal.png) no-repeat 0 0;
}

.jcarousel .jcarousel-direction-rtl .jcarousel-prev-horizontal {
    left: auto;
    right: 5px;
    background-image: url(../images/jcarousel/next-horizontal.png);
}

.jcarousel .jcarousel-prev-horizontal:hover {
    background-position: -32px 0;
}

.jcarousel .jcarousel-prev-horizontal:active {
    background-position: -64px 0;
}

.jcarousel .jcarousel-prev-disabled-horizontal,
.jcarousel .jcarousel-prev-disabled-horizontal:hover,
.jcarousel .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    background-position: -96px 0;
}



/* ------------------------------------ */
/* Wrappers  */
    
.wrapper {
    width: 900px;
    min-height: 90%; /*100% is too much*/
    height: auto !important;
    height: 90%;
    /*margin: 0 auto -41px; /* the bottom margin is the negative value of the footer's height */
    margin: 0px auto -41px auto;
}

.container {
    width: 900px;
    /*margin: 0px auto 0px auto;*/
    /*margin: 0 auto -41px;*/
    text-align: left;
    padding: 0px;
   /* min-height: 100%;*/
    /*height: auto !important;*/
    /*height: 100%;*/
}

.push {
    height: 41px;
}

/* ------------------------------------ */
/* Header and Big Name                  */
.header
{
    /*height: 55px;
    z-index: 999;
    text-align: left;*/
}

.bigname
{
    font-size: 49px;
    color: #ff9900;
}

.bigname .bigtitle {
    color: #fc0;
}

.bigname a:hover {
    color: #FC0;
}

.underbigname {
    font-size: 22px;
    color: #ff5050;
   }

.navtopright {
	font-size: 1.4em;
	color: #999;    /*letter-spacing: 0.035em;*/
	text-transform: uppercase;
}

.navtopright li {
      float: right;
	padding-top: 15px;
	padding-right: 5px;
	color: #999;
     list-style-type: none;
}

.navtopright li a:hover {
	color: #FC0;
}

.navtopright li.active a {
    color: red;
}




/* ------------------------------------ */
/* Logo                                 */
div#logo
{
	padding-top: 70px;
	float: left;
	padding-right: 20px;
}
div#logo .logo1
{
    
}
div#logo .contact
{
    float: right;
    text-align: right;
    margin-top: 103px;
}

div#logo .contact .contact-text
{
    font-size: 1.4em;
    text-transform: uppercase;
    color: #606060606060;
}

div#logo .contact .contact-phone
{
    font-size: 2em;
    font-weight: bold;
}

/* ------------------------------------ */
/* Footer                               */


.footer {
    /*background: no-repeat top center;*/
    clear: both;
    /*min-height: 30px;*/
    /*position: absolute;*/
    height: 41px; /* .push must be the same height as .footer */
}

.footer-content {
	width: 900px;
    margin: 0px auto 0px auto;
    padding: 0px 0px 0px 0px;   	
}

.footer-copyright {
    clear: both;
    color: #999;
    font-size: 1em;
    float: right;
}

.footer-copyright p {
	padding: 0;
	margin: 0;
	color: #999;
}

/* ------------------------------------ */
/* Navigation                           */
.navigation
{
	height: 40px;
	width: 900px;
}


/* ------------------------------------ */
/* Page Links                           */
.page-links
{
	font-size: 1.36em;
	font-weight: 300;
	text-transform: uppercase;
}

.page-links li
{
    float: left;
    padding-top: 62px;
    padding-left: 7px;
    padding-right: 48px;
    padding-bottom: 15px;
    list-style-type: none;
}
.page-links li.over
{
    z-index: 999;
}
.page-links li a:hover
{
	color: #FC0;
}
.page-links li.active
{
	color: #333;
}

.page-links span
{
    display: block;
    cursor: pointer;
    white-space: nowrap;
}


/* ------------------------------------ */
/* Page Footer Links                    */
.page-footer-links
{
	font-size: 0.9em;
	color: #999;    /*letter-spacing: 0.035em;*/
	text-transform: uppercase;

}
.page-footer-links li
{
      float: right;
	padding-top: 15px;
	padding-right: 5px;
	color: #999;
     list-style-type: none;
}
.page-footer-links li a:hover
{
	color: #FC0;
}

.page-footer-links span
{
    display: block;
    cursor: pointer;
    white-space: nowrap;
}




/* ------------------------------------ */
/* User Links                           */
.breadcrumbs
{
    padding-top: 10px;
    padding-bottom: 0px;
	float: right;
}
.user-links
{
    text-align: right;
}
.user-link-login span, .user-link-login a,
.user-link-logout span, .user-link-logout a
{
	color: #0f295f;
}
.user-links-shopping
{
	clear: both;
	float: right;
}
.user-links-shopping li
{
	color: #0f295f;
	float: left;
}
.user-links-shopping li a
{
	color: #0f295f;
}
.user-link-others a
{
    color: #0f295f;
}

/* ------------------------------------ */
/* Overlay Image                        */
.overlay-image
{
    cursor: pointer;
    display: block;
    position: relative;
    text-decoration: none !important;
	margin-top: 15px;
}
.overlay-image, .overlay-image div.overlay-image-info
{
	width: 300px;
	height: 250px;
}

.overlay-image .overlay-image-title
{
	font-size: 1.5em;
	overflow: hidden;
	font-weight: 100;
	text-align: center;
	vertical-align: middle;
	text-transform: uppercase;
	padding-top: 100px;
}

.overlay-image div.overlay-image-action-label
{
	bottom: 0;
	height: 30px;
	font-size: 1.2em;
	color: #757400;
	padding-top: 15px;
	padding-right: 15px;
	padding-bottom: 20px;
	padding-left: 15px;
}

.overlay-image .overlay-image-background
{
	display: block;
	filter: alpha(opacity=70);
	opacity: .70;
	background-color: #606060;
}

.overlay-image div.overlay-image-content
{
	padding-top: 15px;
	padding-right: 25px;
	padding-bottom: 25px;
	padding-left: 15px;
}

.overlay-image img
{
    border: none;
    display: block;
}

.overlay-image-background
{
	top: 0;
	left: 0;
	position: absolute;
}

div.overlay-image-info
{
    top: 0;
    left: 0;
    position: absolute;
    color: white;
}

.overlay-image-info-wrapper
{
    display: none;
}

.overlay-image:hover .overlay-image-info-wrapper
{
    display: block;
}

.overlay-image-content
{
    position: relative;
}

div.overlay-image-action-label
{
    cursor: pointer;
    position: absolute;
}


/* ------------------------------------ */
/* Page Content                         */
.page-content
{
    clear: both;
    /*margin-top: 25px;      background-color: #fff; 	padding-top: 20px; 	padding-right: 0px; 	padding-bottom: 8px; 	padding-left: 0px; 	text-align: center; 	margin-right: auto; 	margin-left: auto; 	*/
}


/* ------------------------------------ */
/* Others                               */
.divider-alt
{
	border-top: 1px solid #6acbf9;
    margin-top:15px;
    padding-top:15px;
}
.divider
{
	border-top: 1px solid #cdcdcd;
}
.header-gap
{
    padding-top: 20px;
}

/* ------------------------------------ */
/* Promotion box                        */

.promo-box
{
}

.promo-box div
{
	border-top: 1px solid #6acbf9;
    margin-top: 15px;
    padding: 15px 0px;
	text-align: justify;
}

/* ------------------------------------ */
/* Shopping: Search                     */
.mini-search
{
	padding-top: 10px;
	padding-right: 23px;
	float: right;
}
.mini-search span
{
	font-size: 1.364em;
	color: #FFF;
	padding-right: 10px;
}
.mini-search input
{
	font-size: 1.364em;
	margin-top: 5px;
	width: 185px;
	border: 0;
}
.mini-search a
{
	padding-left: 5px;
	font-size: 1.364em;
	color: #FFF;
}

/* ------------------------------------ */
/* Shopping: Micro basket               */
.micro-basket
{
    margin-top: 0px;
    width: 180px;
    background: no-repeat left top;
    background-image: url(../images/shopping/flag_uk.jpg);
    float: right;
}

.micro-basket a
{
    text-align: right;
    float: right;
}


/* ------------------------------------ */
/* Shopping: Search Results             */
.catalog-listing
{
    clear: both;
    margin-top: 30px;
}
.catalog-listing h3
{
    text-transform: uppercase;
    font-size: 1.8em;
    margin-top: 20px;
}

.listing-type-lines
{
}
.listing-type-lines .item-box
{
}
.listing-type-lines .item-box .product-image a
{
    position: relative;
    top: 0px;
    width: 77px;
    height: 115px;
    float: left;
    display:block;  
    padding-right: 24px;
}
.listing-type-lines .item-box .product-image a img
{
    position: absolute;
    clip: rect(0px 77px 115px 0px);
}
.listing-type-lines .item-box h5
{
    margin-top: -16px;
    font-style: normal;
}
.listing-type-lines .item-box h5 a
{
    font-size: 1.2em;
    color: #0f295f;
}
.listing-type-lines .item-box .price-box
{
    padding-top: 24px;
}
.listing-type-lines .item-box .price
{
    font-size: 1.4em;
    font-weight: bold;
    color: #f18d1c;
}
.listing-type-lines .item-box .short-description, .listing-type-lines .item-box .full-description
{
    margin-top: 24px;
    font-size: 1.1em;
    line-height: 1.5em; 
    min-height: 2.9em; 
    max-height: 2.9em; 
    overflow: hidden; 
    text-overflow: ellipsis; 
}
.listing-type-lines .item-box .end-box
{
    height: 24px;
    border-bottom: 1px solid #a4a4a4;
}
.listing-type-lines .item-box .add-to-basket
{
    clear: both;
    margin-top: 10px;
    margin-left: 97px;
    background-image: url(../images/shopping/buy-now-btn.png);
    width: 75px;
    height: 25px;
}



.product-info-box
{
    clear: both;
    padding-top: 30px;
}
.product-info-box .product-name
{
    color: #0f295f;
}
.product-info-box .product-img-box
{
    float: left;
    margin-top: 26px;
    margin-right: 40px;
}
.product-info-box .price-box
{
    margin-top: 31px;
}
.product-info-box .price
{
    font-size: 1.4em;
    font-weight: bold;
    color: #f18d1c;
}
.product-info-box .full-description-header
{
    margin-top: 24px;
    font-size: 1.1em;
    line-height: 1.5em; 
}
.product-info-box .short-description, .product-info-box .full-description
{
    margin-top: 10px;
    font-size: 1.1em;
    line-height: 1.5em; 
}
.product-info-box .category-description-header
{
    margin-top: 24px;
    font-size: 1.1em;
    line-height: 1.5em; 
}
.product-info-box .add-to-cart-box
{
    margin-top: 24px;
}
.product-info-box .qty-box .input-text
{
    margin-right: 10px;
    height: 23px;
    vertical-align:top;
}
.product-info-box .add-to-basket
{
    text-transform: uppercase;
}
.product-info-box .availability
{
    margin-top: 10px;
}

.product-info-box .product-images
{
    clear: both;
    width: 325px;
}
.product-info-box .product-images li
{
    float: left;
    padding-right: 5px;
}
.product-info-box .end-box
{
    clear: both;
    height: 4px;
    border-bottom: 1px solid #a4a4a4;
}


.product-specifications
{
    clear: both;
    margin-top: 24px;
}
.product-specifications .title
{
    font-size: 1.1em;
    line-height: 1.5em; 
    margin-bottom: 10px;
}
.product-specifications table th, .product-specifications table td
{
    color: #0f295f;
    padding: 1px;
    border-bottom: 1px solid #aaa;
}
.product-specifications table th
{
    border-right: 1px solid #aaa;
    font-weight: bold;
}

.product-specifications .horizontal
{
    clear: both;
    background-image: url(../images/system/line.gif);
    background-repeat: repeat-x;
    height: 1px;
}


.product-reviews
{
    clear: both;
    margin-top: 40px;
}
.product-reviews .title
{
    font-size: 1.45em;
    color: #0f295f;
    margin-bottom: 34px;
}
.product-reviews .review-title, .product-reviews .review-date
{
    font-size: 1.35em;
    line-height: 2.8em;
    color: #0f295f;
}
.product-reviews .review-title
{
     font-weight: bold;
}
.product-reviews .review-author
{
    margin-top: -8px;
    margin-bottom: 10px;
    font-size: 1.2em;
    font-weight: bold;
    color: #606060;
}
.product-reviews .product-reviews-none
{
    clear: both;
    margin-top: 10px;
    margin-bottom: 30px;
    
}
.review-report
{
    margin-top: 10px;
    margin-bottom: 10px;
}

.rating
{
    clear: both;
    margin-top: 24px;
}
.rating-star
{
	font-size: 0pt;
	width: 32px;
	height: 32px;
	margin: 0px;
	padding: 0px;
	cursor: pointer;
	display: block;
	background-repeat: no-repeat;
}
.rating-star-empty
{
	background-image: url(../images/shopping/rating-star-empty.png);
}
.rating-star-filled
{
	background-image: url(../images/shopping/rating-star-filled.png);
}
.rating-star-saved
{
	background-image: url(../images/shopping/rating-star-saved.png);
}



/* ------------------------------------ */
/* Shopping: Products Also Purchased    */
.products-also-purchased
{
    margin-top: 40px;
    padding: 14px;
}
.products-also-purchased .title
{
    font-size: 1.45em;
    color: #0f295f;
    margin-bottom: 22px;
}
.products-also-purchased ul li
{
    width: 160px;
    float: left;
    /*text-align: center;*/
}
.products-also-purchased .image a
{
    position: relative;
    top: 0;
    left: 41px;
    width: 77px;
    height: 115px;
    float: left;
    display:block;  
}
.products-also-purchased .image a img
{
    position: absolute;
    clip: rect(0px 77px 115px 0px);
}
.products-also-purchased .product-title
{
    clear: both;
    font-size: 1.2em;
    min-height: 40px;
    max-height: 40px;
    line-height: 1.5em;
    text-align: center;
    overflow-x: hidden;
    overflow-y: hidden;
}
.products-also-purchased .product-title, .products-also-purchased .product-title a
{
    color: #0f295f;
}
.products-also-purchased .regular-price
{
    text-align: center;
}
.products-also-purchased .product-author
{
    font-size: 1.1em;
    color: #606060;
}
.products-also-purchased .buy-now
{
    margin-top: 10px;
    margin-left: 35px;
}


/* ------------------------------------ */
/* Shopping: Product Picks              */
.product-picks, .product-picks-large
{
    margin-top: 15px;
    padding: 14px;
}
.product-picks .picks-container, .product-picks-large .picks-container
{
    padding: 0 24px 0 24px;
}
.product-picks .title, .product-picks-large .title
{
    font-size: 1.45em;
    color: #0f295f;
    margin-bottom: 22px;
}
.product-picks ul li
{
    width: 144px;
    float: left;
}
.product-picks-large ul li
{
    width: 154px;
    float: left;
}
.product-picks .image a, .product-picks-large .image a
{
    position: relative;
    top: 0;
    left: 41px;
    width: 77px;
    height: 115px;
    float: left;
    display:block;
}
.product-picks .image a img, .product-picks-large .image a img
{
    position: absolute;
    clip: rect(0px 77px 115px 0px);
}
.product-picks .product-title, .product-picks-large .product-title
{
    clear: both;
    font-size: 1.2em;
    min-height: 40px;
    max-height: 40px;
    line-height: 1.5em;
    text-align: center;
    overflow-x: hidden;
    overflow-y: hidden;
}
.product-picks .product-title, .product-picks .product-title a, .product-picks-large .product-title, .product-picks-large .product-title a
{
    color: #0f295f;
}
.product-picks .regular-price, .product-picks-large .regular-price
{
    font-size: 1.4em;
    font-weight: bold;
    color: #f18d1c;
    text-align: center;
}
.product-picks .product-author, .product-picks-large .product-author
{
    font-size: 1.1em;
    color: #606060;
}
.product-picks .buy-now, .product-picks-large .buy-now
{
    margin-top: 10px;
    margin-left: 35px;
}




/* ------------------------------------ */
/* Shopping: Featured Product           */
.products-featured
{
    margin-top: 15px;
    padding: 14px;
}
.products-featured .title
{
    font-size: 1.45em;
    color: #0f295f;
    margin-bottom: 22px;
}
.products-featured ul li
{
    width: 160px;
    float: left;
}
.products-featured .image a
{
    position: relative;
    top: 0;
    left: 41px;
    width: 77px;
    height: 115px;
    float: left;
    display:block;  
}
.products-featured .image a img
{
    position: absolute;
    clip: rect(0px 77px 115px 0px);
}
.products-featured .product-title
{
    clear: both;
    font-size: 1.2em;
    min-height: 40px;
    max-height: 40px;
    line-height: 1.5em;
    text-align: center;
    overflow-x: hidden;
    overflow-y: hidden;
}
.products-featured .product-title, .products-featured .product-title a
{
    color: #0f295f;
}
.products-featured .regular-price
{
    font-size: 1.4em;
    font-weight: bold;
    color: #f18d1c;
    text-align: center;
}
.products-featured .product-author
{
    font-size: 1.1em;
    color: #606060;
}
/*.products-featured .price-box
{
    margin-top: 31px;
}
.products-featured .price
{
    font-size: 1.4em;
    font-weight: bold;
    color: #f18d1c;
}*/
.products-featured .buy-now
{
    margin-top: 10px;
    margin-left: 35px;
}



.customer-product-review
{
    border: none;
    margin-bottom: 10px;
}
.customer-product-review ul li
{
    clear: both;
    margin-bottom: 10px;
}
.customer-product-review .review-title
{
    width: 300px;
}
.customer-product-review .review-text
{
    width: 100%;
    height: 250px;
}



.product-specification-filter
{
    padding: 0px 18px 18px 18px;
    margin-top: 15px;
}
.product-specification-filter ul li
{
    /*width: 160px;
    float: left;
    text-align: center;*/
}
.product-specification-filter ul li .title
{
    clear: both;
    font-size: 1.2em;
    color: #1c2d6b;
    margin-top: 22px;
    border-bottom: 1px solid #d6d8db;
    padding-bottom: 5px;
    margin-bottom: 5px;
}
.product-specification-filter ul li .first
{
    margin-top: 12px;
}
.product-specification-filter ul li .filtered
{
    color: #f18d1c;
}
.product-specification-filter .filter-option, .product-specification-filter .filter-option-remove
{
    color: #1c2d6b;
    font-size: 1.1em;
    /*text-transform: uppercase;*/
}
.product-specification-filter .filter-option-remove
{
    font-weight: bold;
    color: #f18d1c;
}
.product-specification-filter .filter-option-remove-name
{
    float: left;
}
.product-specification-filter .filter-option-remove-btn
{
    float: right;
    padding-bottom: 22px;
}

/*
.product-specification-filter .image a
{
    position: relative;
    top: 0px;
    width: 77px;
    height: 115px;
    float: left;
    display:block;  
}
.product-specification-filter .image a img
{
    position: absolute;
    clip: rect(0px 77px 115px 0px);
}
*/
.product-specification-filter .product-title
{
    clear: both;
    font-size: 1.2em;
    min-height: 40px;
    line-height: 1.5em;
}
.product-specification-filter .product-title, .product-specification-filter .product-title a
{
    color: #0f295f;
}

.product-specification-filter .product-author
{
    font-size: 1.1em;
    color: #606060;
}
.product-specification-filter .buy-now
{
    margin-top: 10px;
    margin-left: 35px;
}



/* ------------------------------------ */
/* Pager                                */
.pager
{
    clear: both;
    font-size: 1.1em;
    /*margin-top: 6px;*/
    /*padding-bottom: 20px;*/
}
.pager2 li
{
    float: left;
}
.pager2 li a:hover
{
    color: #606060;
    text-decoration: underline;
}
.pager2 li a:link, .pager2 li a:visited, .pager2 li a:active
{
	color: #606060;
}
.pager2 a, .pager2 a:hover
{
    color: #606060;
    text-transform: uppercase;
}
.pager2 span
{
    display: block;
    cursor: pointer;
    white-space: nowrap;
}





/* ------------------------------------ */
/* Shopping: Shopping Basket            */
.shopping-basket-page
{
    margin-top: 15px;
}
.shopping-basket
{
    width: 100%;
}
.shopping-basket-header
{
    background-color: #f2f3f6;
    line-height: 36px;
    font-size: 1.3em;
    color: #f18d1c;
    text-transform: uppercase;
}
.shopping-basket-row td
{
    padding-top: 10px;
    border-bottom: 1px solid #d9dde3;
}
.shopping-basket .short-description
{
    /*margin-top: 24px;*/
    font-size: 1.0em;
    line-height: 1.5em; 
    max-height: 2.9em; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    text-transform: none;
    color: #0f295f;
}
.shopping-basket-image
{
    width: 85px;
}
.shopping-basket-product-name
{
    width: 50%;
    color: #f18d1c;
    text-transform: uppercase;
}
.shopping-basket-unit-price
{
    text-align: center;
}
.shopping-basket-qty
{
    text-align: center;
}
.shopping-basket-subtotal
{
    text-align: center;
}
.shopping-basket-remove
{
    text-align: center;
}
.shopping-basket-remove input
{
    background-image: url(../images/shopping/item-remove-btn.gif);
    width: 16px;
    height: 16px;
}
.shopping-basket-footer
{
    margin-top: 10px;
}
.shopping-basket-totals
{
    clear: both;
    float: right;
    margin-top: 10px;
    border: 0 none;
}
.shopping-basket-totals .price
{
    margin-left: 10px;
}
.checkout-types
{
    clear: both;
    margin-top: 10px;
}



/* ------------------------------------ */
/* Invoice Address page                 */
.invoice-address-page
{
    margin-top: 15px;
}
.invoice-address-page h5
{
    padding-top: 0;
    margin-bottom: 15px;
}
.invoice-address-page table
{
    margin-bottom: 15px;
}
.invoice-address-page .address-section
{
    margin-right: 15px;
}
.invoice-address-page .address-box
{
    clear: both;
    margin: 0 0 0 10px;
    padding-top: 15px;
}



/* ------------------------------------ */
/* Invoice New Address Form             */
.invoice-new-address-form
{
    clear: both;
}
.invoice-new-address-form input, .invoice-new-address-form select
{
    width: 250px;
    height: 20px;
}
.invoice-new-address-form .address-title
{
}
.invoice-new-address-form .address-first-name
{
    clear: both;
    float: left;
    margin-right: 15px;
}
.invoice-new-address-form .address-last-name
{
}
.invoice-new-address-form .address-1, .invoice-new-address-form .address-2, .invoice-new-address-form .address-3
{
}
.invoice-new-address-form .address-1 input, .invoice-new-address-form .address-2 input, .invoice-new-address-form .address-3 input
{
    width: 520px;
}
.invoice-new-address-form .address-city
{
    clear: both;
    float: left;
    margin-right: 15px;
}
.invoice-new-address-form .address-county
{
}
.invoice-new-address-form .address-postcode
{
    clear: both;
    float: left;
    margin-right: 15px;
}
.invoice-new-address-form .address-country
{
}
.invoice-new-address-form .address-telephone
{
    clear: both;
    float: left;
    margin-right: 15px;
}
.invoice-new-address-form .address-email
{
}



/* ------------------------------------ */
/* Delivery Address page                */
.delivery-address-page
{
    margin-top: 15px;
}
.delivery-address-page h5
{
    padding-top: 0;
    margin-bottom: 15px;
}
.delivery-address-page table
{
    margin-bottom: 15px;
}
.delivery-address-page .address-section
{
    margin-right: 15px;
}
.delivery-address-page .address-box
{
    clear: both;
    margin: 0 0 0 10px;
    padding-top: 15px;
}



/* ------------------------------------ */
/* Delivery New Address Form             */
.delivery-new-address-form
{
    clear: both;
}
.delivery-new-address-form input, .delivery-new-address-form select
{
    width: 250px;
    height: 20px;
}
.delivery-new-address-form .address-title
{
}
.delivery-new-address-form .address-first-name
{
    clear: both;
    float: left;
    margin-right: 15px;
}
.delivery-new-address-form .address-last-name
{
}
.delivery-new-address-form .address-1, .delivery-new-address-form .address-2, .delivery-new-address-form .address-3
{
}
.delivery-new-address-form .address-1 input, .delivery-new-address-form .address-2 input, .delivery-new-address-form .address-3 input
{
    width: 520px;
}
.delivery-new-address-form .address-city
{
    clear: both;
    float: left;
    margin-right: 15px;
}
.delivery-new-address-form .address-county
{
}
.delivery-new-address-form .address-postcode
{
    clear: both;
    float: left;
    margin-right: 15px;
}
.delivery-new-address-form .address-country
{
}
.delivery-new-address-form .address-telephone
{
    clear: both;
    float: left;
    margin-right: 15px;
}
.delivery-new-address-form .address-email
{
}


/* ------------------------------------ */
/* Payment Page                         */
.payment-page
{
    margin-top: 15px;
}
.payment-page .btn
{
    margin-top: 10px;
}


/* ------------------------------------ */
/* Sage pay                             */
.payment-sage-pay
{
}
.payment-sage-pay li
{
    margin-bottom: 6px;
}
.payment-sage-pay input, .payment-sage-pay select
{
    height: 20px;
}
.payment-sage-pay .card-logos
{
    position: absolute;
    margin-top: 75px;
}


/* ------------------------------------ */
/* Confirm Page                         */
.confirm-page
{
    margin-top: 15px;
}
.checkout-confirm .address-invoice, .checkout-confirm .address-delivery
{
    float: left;
    margin-right: 30px;
}
.checkout-confirm .shopping-basket-page
{
    clear: both;
    padding-top: 30px;
}


/* ------------------------------------ */
/* Category Links                       */
.category-links
{
    font-size: 1.364em;
    /*letter-spacing: 0.035em;*/
}
.category-links li
{
	float: left;
	position: relative;
	padding-top: 15px;
	padding-left: 16px;
	color: #FFF;
}
.category-links li a
{
    padding-bottom: 11px;
}
.category-links li a:hover
{
	color: #FFF;
}
.category-links li.active
{
	color: #FFF;
}
.category-links li a:link, .category-links li a:visited, .category-links li a:active
{
	color: #999;
}
.category-links li.active a:link, .category-links li.active a:visited, .category-links li.active a:active
{
	color: #999;
}
.category-links span
{
    display: block;
    cursor: pointer;
    white-space: nowrap;
}
.category-links li ul
{
    position: absolute;
    left: 0; top: 46px;
    background: #1d2f6c;
    display: none;
    padding: 0 20px 10px 0;
    z-index: 999;
    -moz-border-radius-topleft:0ex;
    -moz-border-radius-topright:0ex;
    -moz-border-radius-bottomleft:1ex;
    -moz-border-radius-bottomright:1ex;
    /*-webkit-border-top-left-radius:0ex;
    -webkit-border-top-right-radius:0ex;
    -webkit-border-bottom-left-radius:1ex;
    -webkit-border-bottom-right-radius:1ex;*/
}
.category-links li.over ul
{
    display: block;
}
.category-links li.over ul li
{
    float: none;
    display: block;
    padding-top: 2px;
}
.category-links li.over ul li a
{
    display: block;
    padding-bottom: 4px;
}


/* ------------------------------------ */
/* Sub Category Links                   */
.sub-category-links
{
    clear: both;
    margin-top: 15px;
}
.sub-category-links li
{
	color: #606060;
	float: left;
	margin-left: 12px;
    position:relative;
    height:228px;
    width: 210px; /*325px;*/

}
.sub-category-links li.nopad
{
	margin-left: 0px;
}
.sub-category-links li a:hover
{
	color: #606060;
}
.sub-category-links li.active
{
	color: #606060;
}
.sub-category-links li a:link, .sub-category-links li a:visited, .sub-category-links li a:active
{
	color: #606060;
}
.sub-category-links li.active a:link, .sub-category-links li.active a:visited, .sub-category-links li.active a:active
{
	color: #606060;
}
.sub-category-links li .sub-category-button
{
}
.sub-category-links li .sub-category-button a
{
    position: relative;
    top: 144px;
    width: 210px; /*325px;*/
    height: 32px;
    line-height: 32px;
    background-image: url(../images/shopping/category-button.jpg);
    display:block;  
    font-size: 1.1em;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    color: #FFF;
}
.sub-category-links li .sub-category-button a:hover, .sub-category-links li .sub-category-button a:link, .sub-category-links li .sub-category-button a:visited, .sub-category-links li .sub-category-button a:active
{
	color: #999;
}
.sub-category-links li a img
{
    position: absolute;
    clip: rect(0px 210px 128px 0px);
}
.sub-category-links span
{
    display: block;
    cursor: pointer;
    white-space: nowrap;
}



/* ------------------------------------ */
/* Category Breadcrumb Links            */
.category-breadcrumb-links
{
    clear: both;
    font-size: 1.2em;
    margin-top: 6px;
    /*padding-bottom: 20px;*/
}
.category-breadcrumb-links li
{
    float: left;
}
.category-breadcrumb-links li a:hover
{
    color: #606060;
    text-decoration: underline;
}
.category-breadcrumb-links li a:link, .category-breadcrumb-links li a:visited, .category-breadcrumb-links li a:active
{
	color: #606060;
}
.category-breadcrumb-links a, .category-breadcrumb-links a:hover
{
    color: #606060;
    text-transform: uppercase;
}
.category-breadcrumb-links span
{
    display: block;
    cursor: pointer;
    white-space: nowrap;
}



/* ------------------------------------ */
/* Category Banners                     */
.category-banners
{
    clear: both;
    top: 5px;
    margin-bottom: 5px;
}


/* ------------------------------------ */
/* Page Banners                         */
.page-banners
{
    clear: both;
    top: 15px;
    padding-bottom: 15px;
}


/* ------------------------------------ */
/* The Nivo Slider styles               */
.nivoSlider {
	position:relative;
}
.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	display: none;
}
/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:60;
	display:none;
}
/* The slices in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
	z-index:50;
	height:100%;
}
/* Caption styles */
.nivo-caption {
	position:absolute;
	left:0px;
	bottom:0px;
	background:#606060;
	color:#fff;
	opacity:0.8; /* Overridden by captionOpacity setting */
	width:100%;
	z-index:89;
}
.nivo-caption p {
	padding:5px;
	margin:0;
}
.nivo-caption a {
	display:inline !important;
}
.nivo-html-caption {
    display:none;
}
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
	position:absolute;
	top:45%;
	z-index:99;
	cursor:pointer;
}
.nivo-prevNav {
	left:0px;
}
.nivo-nextNav {
	right:0px;
}
/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav a {
	position:relative;
	z-index:99;
	cursor:pointer;
}
.nivo-controlNav a.active {
	font-weight:bold;
}


/* ------------------------------------ */
/* Contact us                           */
.contact-us-group
{
    border: none;
}
.contact-us-group li
{
    clear: both;
}
.contact-us-group label
{
	float: left;
	text-align: left;
	width: 70px;
	padding-top: 5px;
	color: #606060;
	font-weight: 300;
}
.contact-us-group .input-text
{
	width: 300px;
	font-size: 1.2em;
	border: 1px solid #CCC;
	margin-top: 4px;
	margin-right: 4px;
	margin-bottom: 4px;
	padding-top: 2px;
	padding-right: 2px;
	padding-bottom: 2px;
	color: #000;
	padding-left: 2px;
}
.contact-us-submit
{
	margin-top: 10px;
	font-size: 1.2em;
}

#submit {
    margin-top: 5px;
    padding: 1px 10px 1px 10px;
    color: #fff;
    background: #999;
    border: none;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

#submit:hover {
    color: #fff;
    background: #fc0;
    
}

/* ------------------------------------ */
/* News Ticker                          */
ul.news-ticker 
{
	/* required styles */
	display: block;
	padding: 0;
	margin: 0;
	list-style: none;
	line-height: 1;
	position: relative;
	overflow: hidden;

	/* optional styles for appearance */
	width: 100%;
	height: 36px; /* height should be included to reserve visual space for the marquee */
}
ul.news-ticker li 
{
	/* required styles */
	position: absolute;
	top: -999em;
	left: 0;
	display: block;
	white-space: nowrap; /* keep all text on a single line */

	/* optional styles for appearance */
	font-size: 1.1em;
    color: #1f2e62;
	padding: 3px 5px;
}
ul.news-ticker p
{
    margin: 7px 0px;
}
ul.news-ticker strong
{
    margin: 0 10px 0 0;
    font-size: 1.3em;
    font-weight: normal;
} 
ul.news-ticker li a
{
    color: #1f2e62;
}



/* ------------------------------------ */
/* Panel Containers                     */

/* ------------------------------------ */
/* One Column Box - Orange              */
.col1-box-orange
{
    clear: both;
    padding-bottom: 10px;
}

.col1-box-orange .first
{
    background-image: url(../images/containers/container_orange_top.png);
	height: 5px;
	
}

.col1-box-orange .content
{
    background-image: url(../images/containers/container_orange_middle.png);
    background-repeat: repeat-y;
    height: 1px;
}

.col1-box-orange .last
{
    background-image: url(../images/containers/container_orange_bottom.png);
    height: 5px;
}


/* ------------------------------------ */
/* Sitemap Category Links               */
.sitemap-category-links ul
{
    margin: 0;
	float: left;
	width: 100%;
}
.sitemap-category-links #home {
	display: block;
	float: none;
	background: #ffffff url(../images/sitemap/L1-left.png) center bottom no-repeat;
	position: relative;
	z-index: 2;
	padding: 0 0 30px 0;
}
.sitemap-category-links li {
	float: left;
	background: url(../images/sitemap/L1-center.png) center top no-repeat;
	padding: 30px 0;
	margin-top: -30px;
}
/* ------------------------------------------------------------
	NUMBER OF COLUMNS: Adjust #primaryNav li to set the number
	of columns required in your site map. The default is 
	4 columns (25%). 5 columns would be 20%, 6 columns would 
	be 16.6%, etc. 
------------------------------------------------------------ */

.sitemap-category-links li {
	width:25%;
}

.sitemap-category-links li ul li {
	width:100% !important;
}

.sitemap-category-links.col1 li { width:99.9%; }
.sitemap-category-links.col2 li { width:50.0%; }
.sitemap-category-links.col3 li { width:33.3%; }
.sitemap-category-links.col4 li { width:25.0%; }
.sitemap-category-links.col5 li { width:20.0%; }
.sitemap-category-links.col6 li { width:16.6%; }
.sitemap-category-links.col7 li { width:14.2%; }
.sitemap-category-links.col8 li { width:12.5%; }
.sitemap-category-links.col9 li { width:11.1%; }
.sitemap-category-links.col10 li { width:10.0%; }

.sitemap-category-links li a {
	margin: 0 20px 0 0;
	padding: 10px 0;
	display: block;
	font-size: 1.2em;
	font-weight: bold;
	text-align: center;
	color: black;	
	background: #c3eafb url(../images/sitemap/white-highlight.png) top left repeat-x;
	border: 2px solid #b5d9ea;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-webkit-box-shadow: rgba(0,0,0,0.5) 2px 2px 2px; 
	-moz-box-shadow: rgba(0,0,0,0.5) 2px 2px 2px; /* FF 3.5+ */	
}
.sitemap-category-links li a:hover {
	background-color: #e2f4fd;
	border-color: #97bdcf;
}
.sitemap-category-links li:last-child {
	background: url(../images/sitemap/L1-right.png) center top no-repeat;
}
.sitemap-category-links a:link:before,
.sitemap-category-links a:visited:before {
	content: " "attr(href)" ";
	display: block;
	/*text-transform: uppercase;*/
	font-size: 0.8em;
	margin-bottom: 5px;
	word-wrap: break-word;
}
.sitemap-category-links li a:link:before,
.sitemap-category-links li a:visited:before {
	color: #78a9c0;
}

/* --------	Second Level --------- */

.sitemap-category-links li li {
	width: 100%;
	clear: left;
	margin-top: 0;
	padding: 10px 0 0 0;
	background: url(../images/sitemap/vertical-line.png) center bottom repeat-y;
}
.sitemap-category-links li li a {
	background-color: #cee3ac;
	border-color: #b8da83;
}
.sitemap-category-links li li a:hover {
	border-color: #94b75f;
	background-color: #e7f1d7;
}
.sitemap-category-links li li:first-child {
	padding-top: 30px;
}
.sitemap-category-links li li:last-child {
	background: url(../images/sitemap/vertical-line.png) center bottom repeat-y;
}
.sitemap-category-links li li a:link:before,
.sitemap-category-links li li a:visited:before {
	color: #8faf5c;
}

/* --------	Third Level --------- */

.sitemap-category-links li li ul {
	margin: 10px 0 0 0;
	width: 100%;
	float: right;
	padding: 9px 0 10px 0;
	background: #ffffff url(../images/sitemap/L3-ul-top.png) center top no-repeat;
}
.sitemap-category-links li li li {
	background: url(../images/sitemap/L3-center.png) left center no-repeat;
	padding: 5px 0;
}
.sitemap-category-links li li li a {
	background-color: #fff7aa;
	border-color: #e3ca4b;
	font-size: 1.0em;
	padding: 5px 0;
	width: 80%;
	float: right;
}
.sitemap-category-links li li li a:hover {
	background-color: #fffce5;
	border-color: #d1b62c;
}
.sitemap-category-links li li li:first-child {
	padding: 15px 0 5px 0;
	background: url(../images/sitemap/L3-li-top.png) left center no-repeat;
}
.sitemap-category-links li li li:last-child {
	background: url(../images/sitemap/L3-bottom.png) left center no-repeat;
}
.sitemap-category-links li li li a:link:before,
.sitemap-category-links li li li a:visited:before {
	color: #ccae14;
	font-size: 1em;
}





/* ------------------------------------------------------------
	NUMBER OF COLUMNS: Adjust #primaryNav li to set the number
	of columns required in your site map. The default is 
	4 columns (25%). 5 columns would be 20%, 6 columns would 
	be 16.6%, etc. 
------------------------------------------------------------ */
#primaryNav li {
	width:25%;
}

#primaryNav li ul li {
	width:100% !important;
}

#primaryNav.col1 li { width:99.9%; }
#primaryNav.col2 li { width:50.0%; }
#primaryNav.col3 li { width:33.3%; }
#primaryNav.col4 li { width:25.0%; }
#primaryNav.col5 li { width:20.0%; }
#primaryNav.col6 li { width:16.6%; }
#primaryNav.col7 li { width:14.2%; }
#primaryNav.col8 li { width:12.5%; }
#primaryNav.col9 li { width:11.1%; }
#primaryNav.col10 li { width:10.0%; }

.sitemap {
	margin: 50px 0 40px 0;
	float: left;
	width: 100%;
}

/* ------------------------------------------------------------
	Site Map Styles
------------------------------------------------------------ */

/* --------	Top Level --------- */

#primaryNav 
{
	margin: 0;
	float: left;
	width: 100%;
}
#primaryNav #home 
{
	display: block;
	float: none;
	background: #ffffff url('../images/sitemap/L1-left.png') center bottom no-repeat;
	position: relative;
	z-index: 2;
	padding: 0 0 30px 0;
}
#primaryNav li {
	float: left;
	background: url('../images/sitemap/L1-center.png') center top no-repeat;
	padding: 30px 0;
	margin-top: -30px;
}
#primaryNav li a {
	margin: 0 20px 0 0;
	padding: 10px 0;
	display: block;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	color: black;	
	background: #c3eafb url('../images/sitemap/white-highlight.png') top left repeat-x;
	border: 2px solid #b5d9ea;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-webkit-box-shadow: rgba(0,0,0,0.5) 2px 2px 2px; 
	-moz-box-shadow: rgba(0,0,0,0.5) 2px 2px 2px; /* FF 3.5+ */	
}
#primaryNav li a:hover {
	background-color: #e2f4fd;
	border-color: #97bdcf;
}
#primaryNav li:last-child {
	background: url('../images/sitemap/L1-right.png') center top no-repeat;
}
#primaryNav a:link:before,
#primaryNav a:visited:before {
	content: " "attr(href)" ";
	display: block;
	text-transform: uppercase;
	font-size: 10px;
	margin-bottom: 5px;
	word-wrap: break-word;
}
#primaryNav li a:link:before,
#primaryNav li a:visited:before {
	color: #78a9c0;
}

/* --------	Second Level --------- */

#primaryNav li li {
	width: 100%;
	clear: left;
	margin-top: 0;
	padding: 10px 0 0 0;
	background: url('../images/sitemap/vertical-line.png') center bottom repeat-y;
}
#primaryNav li li a {
	background-color: #cee3ac;
	border-color: #b8da83;
}
#primaryNav li li a:hover {
	border-color: #94b75f;
	background-color: #e7f1d7;
}
#primaryNav li li:first-child {
	padding-top: 30px;
}
#primaryNav li li:last-child {
	background: url('../images/sitemap/vertical-line.png') center bottom repeat-y;
}
#primaryNav li li a:link:before,
#primaryNav li li a:visited:before {
	color: #8faf5c;
}

/* --------	Third Level --------- */

#primaryNav li li ul {
	margin: 10px 0 0 0;
	width: 100%;
	float: right;
	padding: 9px 0 10px 0;
	background: #ffffff url('../images/sitemap/L3-ul-top.png') center top no-repeat;
}
#primaryNav li li li {
	background: url('../images/sitemap/L3-center.png') left center no-repeat;
	padding: 5px 0;
}
#primaryNav li li li a {
	background-color: #fff7aa;
	border-color: #e3ca4b;
	font-size: 12px;
	padding: 5px 0;
	width: 80%;
	float: right;
}
#primaryNav li li li a:hover {
	background-color: #fffce5;
	border-color: #d1b62c;
}
#primaryNav li li li:first-child {
	padding: 15px 0 5px 0;
	background: url('../images/sitemap/L3-li-top.png') left center no-repeat;
}
#primaryNav li li li:last-child {
	background: url('../images/sitemap/L3-bottom.png') left center no-repeat;
}
#primaryNav li li li a:link:before,
#primaryNav li li li a:visited:before {
	color: #ccae14;
	font-size: 9px;
}


/* ------------------------------------------------------------
	Utility Navigation
------------------------------------------------------------ */

#utilityNav {
	float: right;
	max-width: 50%;
	margin-right: 10px;
}
#utilityNav li {
	float: left;
	margin-bottom: 10px;
}
#utilityNav li a {
	margin: 0 10px 0 0;
	padding: 5px 10px;
	display: block;	
	border: 2px solid #e3ca4b;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	color: black;
	background: #fff7aa url('../images/sitemap/white-highlight.png') top left repeat-x;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-webkit-box-shadow: rgba(0,0,0,0.5) 2px 2px 2px; 
	-moz-box-shadow: rgba(0,0,0,0.5) 2px 2px 2px; /* FF 3.5+ */	
}
#utilityNav li a:hover {
	background-color: #fffce5;
	border-color: #d1b62c;
}
#utilityNav li a:link:before,
#utilityNav li a:visited:before {
	color: #ccae14;
	font-size: 9px;
	margin-bottom: 3px;
}














/* ------------------------------------ */
/* Layout Containers                    */

/* ------------------------------------ */
/* One Column Layout                    */
.col1-set
{
    clear: both;
    padding-bottom: 10px;
    /*border-top: 1px solid #cdcdcd;*/
}

/* ------------------------------------ */
/* 60 / 40 Layout                       */
.col2-60-40-set
{
    clear: both;
    /*padding-top: 10px;*/
    padding-bottom: 10px;
}
.col2-60-40-set .col-1, .col2-60-40-set .col-2
{
    width: 49.5%;
}
.col2-60-40-set .col-1
{
    float: left;
}
.col2-60-40-set .col-2
{
    float: right;
}

/* ------------------------------------ */
/* 80 / 20 Layout                       */
.col2-80-20-set
{
    clear: both;
    padding-top: 10px;
    padding-bottom: 10px;
    /*border-top: 1px solid #CDCDCD;*/
}
.col2-80-20-set .col-1
{
    width: 79.5%;
    float: left;
}
.col2-80-20-set .col-2
{
    width: 19.5%;
    float: right;
}

/* ------------------------------------ */
/* Two Column Layout                    */
.col2-set
{
    clear: both;
}
.col2-set .col-1, .col2-set .col-2
{
    width: 50%;
    float: left;
}

.col2-set .col-1-gap
{
	float: left;
	height: 0px;
}

/* ------------------------------------ */
/* Two Column Left Layout               */
.col2-set-lefty
{
    clear: both;
    /*padding-top: 20px;*/
    padding-bottom: 10px;
    /*border-top: 1px solid #cdcdcd;*/
}
.col2-set-lefty .col-1
{
    width: 300px;
    float: left;
}

.col2-set-lefty .col-2
{
    width: 600px;
    float: left;
}

.col2-set-lefty .col-1-gap
{
    width: 0px;
    float: left;
}


/* ------------------------------------ */
/* Two Column Right Layout               */
.col2-set-righty
{
    clear: both;
    /*padding-top: 20px;*/
    padding-bottom: 10px;
    /*border-top: 1px solid #cdcdcd;*/
}
.col2-set-righty .col-1
{
    width: 600px;
    float: left;
}
.col2-set-righty .col-2
{
    width: 300px;
    float: left;
}
.col2-set-righty .col-1-gap
{
    width: 0px;
    float: left;
}


/* ------------------------------------ */
/* Three Column Layout                  */
.col3-set
{
    clear: both;
    /*padding-top: 20px;*/
    /*padding-bottom: 10px;*/
    /*border-top: 1px solid #cdcdcd;*/
}
.col3-set .col-1, .col3-set .col-2, .col3-set .col-3 {
    width: 300px;
    float: left;
}

.col3-set .col-1 a {
    display: block;
    width: 300px;
    height: 250px;
    float: left;
    background-image: url('images/aboutluke.png');
}

.col3-set .col-1 a:hover {
    background-image: url('images/aboutluke2.png');
}

.col3-set .col-1b a {
    padding-top: 25px;
    padding-left: 10px;
    padding-right: 10px;
    height: 225px;
    width: 280px;
    text-align: center;
    vertical-align: middle;
    background: #fff;
}

.col3-set .col-1b a:hover {
    color: #FC0;
    background: grey;
}

.col3-set .col-2:hover {
	color: #FC0;
}

.col3-set .col-3:hover {
	color: #FC0;
}

.col3-set .col-1-gap, .col3-set .col-2-gap {
    width: 0px;
    float: left;
}

/* ------------------------------------ */
/* Four Column Layout                   */
.col4-set
{
    clear: both;
    padding-top: 20px;
    padding-bottom: 10px;
    /*border-top: 1px solid #cdcdcd;*/
}
.col4-set .col-1, .col4-set .col-2, .col4-set .col-3, .col4-set .col-4
{
    width: 225px;
    float: left;
}

.col4-set .col-1-gap, .col4-set .col-2-gap, .col4-set .col-3-gap
{
    width: 20px;
    float: left;
}

/* ------------------------------------ */
/* PERSONALISED                   */
.intro-container
{
	background-image: url(../images/backgrounds/text-background.png);
	height: 347px;
	width: 332px;
	padding-top: 25px;
	padding-right: 30px;
	padding-bottom: 15px;
	padding-left: 30px;
	color: #FFF;
	font-size: 1.1em;
	margin-left: 50px;
	background-repeat: no-repeat;
}
.background-container
{
	background-image: url(../images/backgrounds/contact-background.png);
	height: 250px;
	width: 250px;
	color: #FFF;
	font-size: 1.2em;
	background-repeat: no-repeat;
	padding: 15px;
	margin-top: 40px;
	margin-left: -60px;
}
.background-container a:link, a:visited, a:active
{
	text-decoration: none;
	color: #999;
}
.gallery
{
	text-decoration: none;
	color: #FFF;
	float: left;
	padding-right: 30px;
	padding-bottom: 10px;
}
.width-restriction {
  width:900px;
  position:relative;
}

.hover-image {
	background-color:transparent;
	cursor: pointer;
	float: left;
}

.hover-image img {
	position:relative;
	text-align: left;
	
}

.hover-image-tooltip {
	width:350px;
	height:350px;
	position:absolute;
	display:none;
	top:0;
	left:0;
	background-color:transparent;
	background-image:url(../images/casestudies/hover-image.png);
	background-repeat:no-repeat;
	background-position:left top;
	color:#606060;
	z-index:100;
	padding-top: 5px;
	padding-right: 15px;
	padding-left: 15px;
	right: 0px;
	bottom: 0px;
}

.hover-image-tooltip h3 {
	padding-top: 20px;
	padding-left: 15px;
	width: 180px;
}
.hover-image-tooltip span {
}
.hover-image-tooltip p {
	margin-bottom: 0em;
	color: #FFF;
	padding-top: 0px;
	padding-bottom: 0px;
	font-weight: lighter;
	font-variant: normal;
	width: 300px;
	padding-left: 15px;
}
.book-logo
{
	padding-right: 50px;
	padding-top: 20px;
	padding-left: 20px;
}
.comment
{
	background-image: url(../images/backgrounds/Large_Comment.png);
	height: 330px;
	width: 560px;
	padding-top: 10px;
	padding-right: 20px;
	padding-bottom: 10px;
	padding-left: 20px;
}