{% extends "base.html" %}
{% set active_page="projects" %}

{% block title %}Courses{% endblock %}


{% block content %}

<div class="col2-set">
    <div class="col-2">
        <div class="blue-box">
            <div class="subtitle-blue"><strong>Project 1</strong></div><hr/>
            <p>Starting point</p>
        </div>

        <div class="blue-box">
            <div class="subtitle-blue"><strong>Project 2</strong></div><hr/>
            <p>Getting better</p>
        </div>
    </div>
    
    <div class="col-2">
        <div class="blue-box">
            <div class="subtitle-blue"><strong>Project 3</strong></div><hr/>
            <p>Nothing like this. </p>
        </div>
    </div>
        
    
</div>  

{% endblock %}