{% extends "base.html" %}

{% block title %}Our services{% endblock %}

{% block content %}

<div id="photocontainer">
    <header>
	    <h1>Has been to ...</h1>
    </header>
 
    <!-- Each image is 350px by 233px -->
    <div class="photobanner">
    	<img class="animate" src="../static/images/image-1.jpeg" alt="" />
    	<img src="../static/images/image-2.jpeg" alt="" />
    <img src="../static/images/image-3.jpeg" alt="" />
    <img src="../static/images/image-4.jpeg" alt="" />
    <img src="../static/images/image-5.jpeg" alt="" />
    <img src="../static/images/image-6.jpeg" alt="" />
    <img src="../static/images/image-1.jpeg" alt="" />
    <img src="../static/images/image-2.jpeg" alt="" />
    <img src="../static/images/image-3.jpeg" alt="" />
    <img src="../static/images/image-4.jpeg" alt="" />
    </div>
</div>

{% endblock %}
